.box-div {
	display: flex;
	flex: 1;
}
.box {
	padding-top: 15px;
	padding-left: 15px;
	padding-bottom: 15px;
	
	font-size: 16px;
	font-family: Arial;

	flex: 1;

	margin-bottom: 10px;

	border-radius: 15px;
	border: none;
	box-shadow: 1px 1px 4px 1px rgba(153, 153, 153, 0.582);

	background-color: rgb(219, 218, 218);
}
.box::placeholder {
	font-size: 16px;
	font-family: Arial;
	color: rgb(51, 51, 51);
}